<div class="ahw-create-action-popup">
    <form class="form-validation" #createForm="ngForm"  name="create_form" novalidate="novalidate">
        <div class="modal-header">
            <h5 class="title-popup">Create account</h5>
            <button type="button" class="close close-btn" data-dismiss="modal" (click)="activeModal.dismiss()">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="ahwName">Name*</label>
                <input id="ahwName"
                       type="text"
                       class="form-control"
                       #formName="ngModel"
                       [ngClass]="{'is-invalid': formName.invalid  && (formName.dirty || formName.touched)}"
                       [(ngModel)]="name"
                       name="name"
                       maxlength="128"
                       required/>
                <p class="invalid-feedback" *ngIf="formName.invalid && (formName.dirty || formName.touched)">
                    Invalid field</p>
            </div>
            <div class="form-group">
                <label for="ahwAccount">Account*</label>
                <input id="ahwAccount"
                       type="text"
                       class="form-control"
                       #formAccountName="ngModel"
                       [ngClass]="{'is-invalid': formAccountName.invalid  && (formAccountName.dirty || formAccountName.touched)}"
                       [(ngModel)]="account_name"
                       name="account_name"
                       maxlength="128"
                       required/>
                <p class="invalid-feedback" *ngIf="formAccountName.invalid  && (formAccountName.dirty || formAccountName.touched)">
                    Invalid field</p>
            </div>
            <div class="form-group">
                <label for="ahwStatus">Example select</label>
                <select id="ahwStatus"
                        class="form-control"
                        [(ngModel)]="status"
                        name="status"
                >
                    <option *ngFor="let item of statusList; let i = index"  value="{{item}}">{{item}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ahwAccount">Email*</label>
                <input id="ahwEmail"
                       type="email"
                       class="form-control "
                       #formAccountEmail="ngModel"
                       [ngClass]="{'is-invalid': formAccountEmail.invalid  && (formAccountEmail.dirty || formAccountEmail.touched)}"
                       [(ngModel)]="account_email"
                       name="account_email"
                       email
                       required/>
                <p class="invalid-feedback" *ngIf="formAccountEmail.invalid  && (formAccountEmail.dirty || formAccountEmail.touched)">
                    Invalid field</p>
            </div>
            <div class="form-row">
                <div class="form-group col-md-30">
                    <label>Start date</label>
                    <div class="input-group">
                        <input type="text"
                               autocomplete="off"
                               class="form-control"
                               ngbDatepicker
                               #ngbDatePickerTime="ngbDatepicker"
                               [(ngModel)]="datePickerTime"
                               [showWeekNumbers] ="true"
                               [minDate]="datePickerOpt.minDate"
                               [maxDate]="datePickerOpt.maxDate"
                               [startDate]="this.ngbCalendar.getToday()"
                               placeholder=""
                               name="start_date"
                               />
                        <div class="input-group-append">
                            <button type="button" class="btn ahw-datepicker-btn"
                                    (click)="ngbDatePickerTime.toggle()">
                                <img src="../../../img/calendar.png" alt="calendar">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-30">
                    <label>Expiration date</label>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               ngbDatepicker
                               #ngbDateExpirationPickerTime="ngbDatepicker"
                               [(ngModel)]="dateExpirationPickerTime"
                               [showWeekNumbers]="true"
                               [minDate]="dateExpirationPickerOpt.minDate"
                               [maxDate]="dateExpirationPickerOpt.maxDate"
                               [startDate]="this.ngbCalendar.getToday()"
                               placeholder=""
                               name="expiration_date"/>
                        <div class="input-group-append">
                            <button type="button" class="btn ahw-datepicker-btn"
                                    (click)="ngbDateExpirationPickerTime.toggle()">
                                <img src="../../../img/calendar.png" alt="calendar">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
            <button class="btn btn-primary" (click)="closeCreateAccount(createForm)"
                    [disabled]="createForm.invalid">
                <span>Save</span>
            </button>
        </div>
    </form>
</div>

