<!-- navbar -->
<header class="ahw-header">
    <a href="#" ui-sref="ahwApp.accounts" class="ahw-logo">AWH</a>
    <ul class="nav">
        <li class="nav-item" ui-sref-active="'active'">
            <a ui-sref="ahwApp.accounts" class="nav-link" href="#">Accounts AngularJS</a>
        </li>
        <li class="nav-item" ui-sref-active="'active'">
            <a ui-sref="ahwApp.accounts2" class="nav-link" href="#">Accounts Angular</a>
        </li>
    </ul>
</header>
<!-- / navbar -->
<!-- content -->
<div class="ahw-content">
    <div class="ahw-content-body" ui-view></div>
</div>
<!-- /content -->
